{% extends "base.html" %}

{% block content %}

    <h4 class="card-header">{{ title }}</h4>
    <div class="card-body">
    {% if sub_title %}<h4 class="card-title">{{ sub_title }}</h4>{% endif %}
    <p class="card-text">
        <ul>
        {%for i in range(0, len)%}
            <li>{{msg[i]}}</li> 
        {%endfor%} 
        </ul>
        {% if result_list %}
        <ul>
            {% for message in result_list %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <pre class="prettyprint"><code class="language-javascript">{{ code }}</code></pre>
    </p>
    </div>
{% endblock %}